html{
    font-family: 'Noto Sans', sans-serif;
}
#searchHeader{
    text-align:center;
    background-color : rgb(76, 76, 161);
}

#resultHeader{
    text-align:center;
    background-color : rgb(76, 76, 161);
}

.form-group-row{
    text-align:center;
}

#searchForm {
    padding: auto;
    margin:auto;
    max-width: 100%;
}

button {
margin: auto;
padding: auto;
}

.articleName {
    font-size : 30px;
}

.button-container{
    text-align:center;
    margin-bottom:5px;
    padding-left : 5px;
}

.result-container {
    text-align:justify;
}

input {
    text-align:Center;
}