.nav-link {
    text-align:right;
    justify-content: right;
    color : red;
}

.navbar-toggler{
    margin:0 0;
    float:right;
}

.navbar-nav{
    margin-left:auto;
    margin-right:0;
    text-align:right;

}

.navbar-brand {
    text-align:center;
    font-size:40px;
}